<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PaginaAutore</title>
</head>
<body>
<form action="/write" method="post" >
  <label for="titolo">Inserire Titolo</label>
  <input type="text" id="titolo" name="titolo" required>
  <label for="synopsis">Inserire la Sinossi</label>
  <input type="text" id="synopsis" name="synopsis" required>
  <label for="contenuto">Inserire il testo</label>
  <input type="text" id="contenuto" name="contenuto" required>
  <label for="tags">Inserire i tags</label>
  <input type="text" id="tags" name="tags" required>
  <button type="submit">Salva</button>
</form>

</body>
</html>